@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --text-color: #333;
    --black: black;
    --white: white;
    --search-color: rgba(22, 24, 35, 0.06);
    --search-btn-color: rgba(22, 24, 35, 0.34);
    --search-border-color: rgba(22, 24, 35, 0.12);

    --default-layout-header-height: 60px;
    --default-layout-header-width: 1496px;
    --default-layout-width: 100%;
    --default-layout-sidebar-width: 232px;
    --search-border-radius: 92px;
    --search-width: 383px;
    --search-height: 46px;

    --font-family: 'ProximaNova';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
}

// Scrollbar css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

input,
button,
[tabindex] {
    outline: none;
    border: none;
}

[href] {
    color: var(--text-color);
    text-decoration: none;
}

*[role='button']:focus,
*[role='link']:focus,
*[role='switch']:focus,
*[tabindex]:focus,
button[aria-label]:focus,
button[aria-labelledby]:focus,
button[aria-pressed]:focus,
button[aria-expanded]:focus,
button[role='tab']:focus,
a[aria-label]:focus {
    outline: none;
}

// font emmbeded
@font-face {
    font-family: ProximaNova;
    src: url(/assets/fonts/Proxima-Nova-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url(/assets/fonts/Proxima-Nova-Semibold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url(/assets/fonts/Proxima-Nova-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url(/assets/fonts/sofiapro-bold.woff2);
    font-weight: 700;
}
// tippy tooltip
.tippy-box {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    background-color: rgba(84, 84, 84, 0.92);
    color: rgb(255, 255, 255);
    padding: 3px 0;
    z-index: 999;
}

.tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
}

[data-tippy-root] {
    background-color: var(--white);
    border-radius: 8px;
}
