@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #fe2c55;
    --text-color: #333;
    --black: black;
    --white: white;
    --search-color: rgba(22, 24, 35, 0.06);
    --search-btn-color: rgba(22, 24, 35, 0.75);
    --search-border-color: rgba(22, 24, 35, 0.12);

    --default-layout-header-height: 60px;
    --default-layout-header-width: 1496px;
    --default-layout-width: 100%;
    --default-layout-sidebar-width: 232px;
    --search-border-radius: 92px;
    --search-width: 383px;
    --search-height: 46px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

input,
button,
[tabindex] {
    outline: none;
    border: none;
}

[href] {
    color: var(--text-color);
    text-decoration: none;
}

*[role='button']:focus,
*[role='link']:focus,
*[role='switch']:focus,
*[tabindex]:focus,
button[aria-label]:focus,
button[aria-labelledby]:focus,
button[aria-pressed]:focus,
button[aria-expanded]:focus,
button[role='tab']:focus,
a[aria-label]:focus {
    outline: none;
}
