.action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--block-header-left-right);
}

.upload {
    min-width: 110px !important;
}

.more-btn {
    margin-left: 16px;
    padding: 0 4px;
    background-color: var(--white);
}

.more-btn-icon {
    width: 20px;
    font-size: 2rem;
}

.action__btn-message,
.action__btn-inbox {
    margin-left: 16px;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.icon-message {
    width: 26px;
    height: 26px;
}

.icon-inbox {
    width: 32px;
    height: 32px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    margin-left: 26px;
    object-fit: cover;
    border-radius: 50%;
}
