.wrapper {
    position: relative;
    padding: 16px 0;
}

.title {
    display: block;
    margin-bottom: 8px;
    padding: 0 8px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--grey-color);
}

.see-btn {
    padding: 0px 8px;
    margin-top: 8px;
    cursor: pointer;
}

.see-all,
.see-less {
    color: var(--primary);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
