.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 24px 0 16px;
    height: var(--default-layout-header-height);
    background-color: var(--white);
    border: 1px solid #ccc;
    z-index: 10;
}

.inner {
    width: var(--default-layout-header-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
}

// Action
.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload {
    min-width: 110px !important;
}

.more-btn {
    margin-left: 16px;
    padding: 0 4px;
    background-color: var(--white);
}

.more-btn-icon {
    width: 20px;
    font-size: 2rem;
}

.action__btn-message,
.action__btn-inbox {
    margin-left: 16px;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.icon-message {
    width: 26px;
    height: 26px;
}

.icon-inbox {
    width: 32px;
    height: 32px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    margin-left: 26px;
    object-fit: cover;
    border-radius: 50%;
}
