.wrapper {
    position: relative;
    padding-top: 16px;
    padding-left: 8px;
}

.list-item {
    margin-bottom: 8px;
}

.item {
    display: inline-block;
    margin-top: 5px;
    margin-right: 6px;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: rgba(22, 24, 35, 0.75);
    opacity: 0.8;
    &:hover {
        text-decoration: underline;
    }
}

.more {
    display: inline-block;
    margin-top: 5px;
    margin-right: 6px;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: rgba(22, 24, 35, 0.75);
    opacity: 0.8;
}
