.wrapper {
    width: var(--default-layout-sidebar-width);
    padding-right: 8px;
}

.inner-sidebar {
    display: flex;
    flex-direction: column;
    padding: 20px 0 26px 8px;
    min-height: 1000px;
}
